doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(rel='text/javascript', src='/jquery/dist/jquery.min.js')
    script(rel='text/javascript', src='/js/bootstrap.min.js')
    script(rel='text/javascript', src='/js/index.js')

  body
    .container
      block content
