if character.basePool
		p Base Character Point Pool:&nbsp;
			span#base-points #{character.basePool}
		p 
			| Character Points Remaining:&nbsp;
			span#remaining-points
				if character.pointsSpent
					!= (character.basePool - character.pointsSpent)
				else
					= character.basePool