if character.basePool
		p Base Character Point Pool:&nbsp;
			span#total-points #{character.basePool}
		p 
			| Character Points Remaining:&nbsp;
			span#remaining-points
				!= (character.basePool - character.pointsSpent)